block footer

	footer.site-footer
		#popup-dialog.order-popup.mfp-hide.zoom-anim-dialog
			p.heading dolor sit amet
			form
				input(type="text" placeholder="NAME")
				input(type="email" placeholder="E-MAIL")
				input(type="tel" placeholder="PHONE")
				textarea(placeholder="MESSAGE")
				input(type="submit" value="ORDER")