block header

	header.site-header.slideInDown
		.container
			nav.top-menu
				button.toggle-mobile-nav.animated
					span
					span
					span
				ul.main-menu
					li.active(data-menuanchor="home")
						a(href="#home") HOME
					li(data-menuanchor="about")
						a(href="#about") ABOUT
					li(data-menuanchor="locations")
						a(href="#locations") LOCATIONS
					li(data-menuanchor="contacts")
						a(href="#contacts") CONTACT
					li(data-menuanchor="credits")
						a(href="#credits") CREDITS