extends _layout
block content
	main.main-content
		.gallery__wrap
			.container
				ul.gallery__list.cf
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal1.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal3.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal2.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal4.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal3.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal1.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal2.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal4.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal1.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal3.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal2.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal4.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal3.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal1.jpg", alt="")
					li.gallery__list-item
						.inner
							a.full-link(href="#")
							img(src="img/gal2.jpg", alt="")


block inlineScripts